JMzIdentML/mzIdentMl/src/main/resources/FuGElightv1.0.0-slim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- FuGELight schema, generated by manual edition of the official FuGE v1 schema 
	Distributed under the Creative Commons license http://creativecommons.org/licenses/by/2.0/.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    version="1.0.0">

    <xsd:complexType name="FuGE.Bio.ConceptualMolecule.ConceptualMoleculeType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>An abstract class for describing database entries of biological molecules such as DNA and
                protein sequences, metabolites or lipids etc.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FuGE.Common.IdentifiableType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Bio.Data.DataType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>Data can be an input to or an output from a ProtocolApplication. Data may be produced
                from a Material (data acquisition) or from another Data object (data transformation). Examples of Data
                are gene expression measurements, or phenotypes associated with genetic manipulations.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FuGE.Common.IdentifiableType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Bio.Data.ExternalDataType" abstract="false">
        <xsd:annotation>
            <xsd:documentation>Data external to the XML instance document. The location of the data file is given in the
                location attribute.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FuGE.Bio.Data.DataType">
                <xsd:sequence>
                    <xsd:element name="externalFormatDocumentation" minOccurs="0" type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>A URI to access documentation and tools to interpret the external format
                                of the ExternalData instance. For example, XML Schema or static libraries (APIs) to
                                access binary formats.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fileFormat" type="FuGE.Bio.Data.FileFormatType" minOccurs="0">
                        <!-- ToDo: why not: <xsd:element name="fileFormat" type="FuGE.Common.Ontology.cvParamType" .../> -->
                        <xsd:annotation>
                            <xsd:documentation>The format of the ExternalData file, for example "tiff" for image files.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="location" type="xsd:anyURI" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The location of the data file.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Bio.Data.FileFormatType" >
        <!-- ToDo: why is this a separate type?? -->
        <xsd:sequence>
            <xsd:element ref="cvParam"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Bio.Data.InternalDataType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>Data that is internal to an instance XML document. InternalData can be extended with an
                element that defines a particular encoding or data type for the storage array or the subclass
                GenericInternalData should be instantiated. The array will typically use pointer arithmetic to access
                values based on the rank (e.g. number of) Dimensions and their respective sizes (e.g. the number of
                contained DimensionElements).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FuGE.Bio.Data.DataType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Bio.Material.MaterialType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>Material represents any kind of substance used in an experimental workflow, such as whole
                organisms, cells, DNA, solutions, compounds and experimental substances (gels, arrays etc.). The
                Material class can be extended by adding subclasses to model domain specific properties, or the
                relationships to OntologyIndividual can be used to describe the characteristics and type of Material.
                Materials can be related to other materials through a directed acyclic graph (represented by
                ProtocolApplication(s)). Sub-component materials can be represented by the self-association on Material
                (e.g. Wells within a array). These associations are abstract and should be extended to represent these
                semantics for extensions of ProtocolApplication and Material.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FuGE.Common.IdentifiableType">
                <xsd:sequence>
                    <xsd:element ref="ContactRole" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>Contact details for the Material. The association to ContactRole could
                                specify, for example, the creator or provider of the Material.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:group ref="ParamGroup" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>The characteristics of a Material.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:group>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Common.Audit.PersonType" abstract="false">
        <xsd:annotation>
            <xsd:documentation>A person for which the attributes are self describing.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FuGE.Common.Audit.ContactType">
                <xsd:sequence>
                    <xsd:element name="affiliations" type="FuGE.Common.Audit.AffiliationsType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>The organization a person belongs to.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="lastName" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The Person's last/family name.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="firstName" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The Person's first name.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="midInitials" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The Person's middle initial.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Common.Audit.AffiliationsType">
        <xsd:attribute name="Organization_ref" type="xsd:string" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Common.Audit.OrganizationType" abstract="false">
        <xsd:annotation>
            <xsd:documentation>Organizations are entities like companies, universities, government agencies for which
                the attributes are self describing.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FuGE.Common.Audit.ContactType">
                <xsd:sequence>
                    <xsd:element name="parent" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The containing organization (the university or business which a lab
                                belongs to, etc.)
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:attribute name="Organization_ref" type="xsd:string" use="required"
                            />
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Common.Audit.ContactType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>A contact is either a person or an organization.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FuGE.Common.IdentifiableType">
                <xsd:attribute name="address" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The address of the Contact.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="phone" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The telephone number of the Contact including the suitable area codes.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="email" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The email address of the Contact.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="fax" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The fax number of the Contact.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="tollFreePhone" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>A toll free phone number for the Contact, including suitable area codes.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Common.Audit.ContactRoleType" abstract="false">
        <xsd:annotation>
            <xsd:documentation>The role that a Contact plays in an organization or with respect to the associating
                class. A Contact may have several Roles within scope, and as such, associations to ContactRole allow the
                use of a Contact in a certain manner. Examples might include a provider, or a data analyst.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="role" type="FuGE.Common.Audit.RoleType">
                <!-- ToDo: why not: <xsd:element name="role" type="FuGE.Common.Ontology.cvParamType"/> -->
                <xsd:annotation>
                    <xsd:documentation>The roles (lab equipment sales, contractor, etc.) the Contact fills.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="Contact_ref" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>When a ContactRole is used, it specifies which Contact the role is associated with.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Common.Audit.RoleType">
        <!-- ToDo: why is this a separate type?? -->
        <xsd:sequence>
            <xsd:element ref="cvParam"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Common.References.BibliographicReferenceType" abstract="false">
        <xsd:annotation>
            <xsd:documentation>Represents bibliographic references, including the most common attributes. Note that
                because a BibliographicReference is Identifiable, a DatabaseEntry can also be specified.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FuGE.Common.IdentifiableType">
                <xsd:attribute name="authors" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The names of the authors of the reference.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="publication" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The name of the journal, book etc.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="publisher" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The publisher of the publication.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="editor" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The editor(s) of the reference.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="year" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>The year of publication.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="volume" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The volume name or number.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="issue" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The issue name or number.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="pages" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The page numbers.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="title" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The title of the BibliographicReference.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Common.Protocol.ProtocolType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>A Protocol is a parameterizable description of a method. ProtocolApplication is used to
                specify the ParameterValues of its Protocol's Parameters. Protocol should be extended in data formats.
                For cases where no extension is developed, the subclass of Protocol, GenericProtocol, should be used to
                capture experimental protocols.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FuGE.Common.IdentifiableType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Common.Protocol.ProtocolApplicationType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>The use of a protocol with the requisite Parameters and ParameterValues.
                ProtocolApplications can take Material or Data (or both) as input and produce Material or Data (or both)
                as output. ProtocolApplication is abstract and should be subclassed in the development of modular
                formats. The subclass GenericProtocolApplication can be used without extension.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FuGE.Common.IdentifiableType">
                <xsd:attribute name="activityDate" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:documentation>When the protocol was applied.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Common.Protocol.SoftwareType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>Software used in the Protocol. Examples of Software include: feature extraction software,
                clustering software, etc... Software is abstract and should either be extended by subclassing or the
                GenericSoftware class, a functional version of Software, should be used without extension.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FuGE.Common.IdentifiableType">
                <xsd:sequence>
                    <xsd:element ref="ContactRole" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute name="version" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The version of Software used.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Common.Protocol.EquipmentType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>The equipment (hardware) used in the Protocol. Examples include: computers, scanners,
                wash stations etc... Equipment is abstract and should either be extended by subclassing or the
                GenericEquipment class, a functional version of Equipment, should be used.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FuGE.Common.IdentifiableType">
                <xsd:sequence>
                    <xsd:element name="make" type="ParamType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The equipment make, usually the organization that makes the equipment.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="model" type="ParamType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The Equipment model.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Common.Ontology.ParamType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>Abstract entity allowing either cvParam or userParam to be referenced in other schemas.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>The name of the parameter.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>The user-entered value of the parameter.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="unitAccession" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>An accession number identifying the unit within the OBO foundry Unit CV.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="unitName" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>The name of the unit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="unitCvRef" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>If a unit term is referenced, this attribute must refer to the CV 'id' attribute
                    defined in the cvList in this file.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Common.Ontology.userParamType" abstract="false">
        <xsd:annotation>
            <xsd:documentation>A single user-defined parameter.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FuGE.Common.Ontology.ParamType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Common.Ontology.cvParamType" abstract="false">
        <xsd:annotation>
            <xsd:documentation>A single entry from an ontology or a controlled vocabulary.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FuGE.Common.Ontology.ParamType">
                <xsd:attribute name="cvRef" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>A reference to the cv element from which this term originates.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="accession" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The accession or ID number of this CV term in the source CV.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Common.Ontology.PropertyValue" abstract="false">
        <xsd:annotation>
            <xsd:documentation>A single value and unit combination.</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="value" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>A user-entered value for the parameter.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="unitAccession" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>The accession number of the unit term in the source unit CV.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="unitName" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>The name of the unit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="unitCvRef" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>If a unit term is referenced, this attribute must refer to the CV 'id' attribute
                    defined in the cvList in this file.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Common.Ontology.cvType" abstract="false">
        <xsd:annotation>
            <xsd:documentation>A source controlled vocabulary from which cvParams will be obtained.</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="fullName" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>The full name of the CV.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="version" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>The version of the CV.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="URI" type="xsd:anyURI" use="required">
            <xsd:annotation>
                <xsd:documentation>The URI of the source CV.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="id" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>The unique identifier of this cv within the document to be referenced by cvParam
                    elements.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Common.IdentifiableType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>Other classes in the model can be specified as sub-classes, inheriting from Identifiable.
                Identifiable gives classes a unique identifier within the scope and a name that need not be unique.
                Identifiable also provides a mechanism for annotating objects with BibliographicReference(s) and
                DatabaseEntry(s).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="id" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>An identifier is an unambiguous string that is unique within the scope (i.e. a
                    document, a set of related documents, or a repository) of its use.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>The potentially ambiguous common identifier, such as a human-readable name for the
                    instance.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Collection.AuditCollectionType" abstract="false">
        <xsd:annotation>
            <xsd:documentation>The collection of Contact records.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <!--
                       <xsd:element ref="Contact" minOccurs="0" maxOccurs="unbounded">
                           <xsd:annotation>
                               <xsd:documentation> The complete set of Contacts. </xsd:documentation>
                           </xsd:annotation>
                       </xsd:element>
                       -->
            <xsd:group ref="ContactGroup" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>The complete set of Contacts.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FuGE.Collection.ProviderType" abstract="false">
        <xsd:annotation>
            <xsd:documentation>The provider of the document in terms of the Contact and the software the produced the
                document instance.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FuGE.Common.IdentifiableType">
                <xsd:sequence>
                    <xsd:element ref="ContactRole" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The Contact that provided the document instance.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="Software_ref" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The Software that produced the document instance.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ParamType">
        <xsd:group ref="ParamGroup"/>
    </xsd:complexType>
    <xsd:complexType name="ParamListType">
        <xsd:group ref="ParamGroup" maxOccurs="unbounded"/>
    </xsd:complexType>
    <xsd:group name="ParamGroup">
        <xsd:choice>
            <xsd:element name="cvParam" type="FuGE.Common.Ontology.cvParamType"/>
            <xsd:element name="userParam" type="FuGE.Common.Ontology.userParamType"/>
        </xsd:choice>
    </xsd:group>
    <xsd:group name="ContactGroup">
        <xsd:choice>
            <xsd:element name="Person" type="FuGE.Common.Audit.PersonType"/>
            <xsd:element name="Organization" type="FuGE.Common.Audit.OrganizationType"/>
        </xsd:choice>
    </xsd:group>

    <xsd:element name="ExternalData" type="FuGE.Bio.Data.ExternalDataType" abstract="false"/>
    <xsd:element name="Person" type="FuGE.Common.Audit.PersonType" abstract="false"/>
    <xsd:element name="Organization" type="FuGE.Common.Audit.OrganizationType" abstract="false"/>
    <xsd:element name="ContactRole" type="FuGE.Common.Audit.ContactRoleType" abstract="false"/>
    <xsd:element name="BibliographicReference"
        type="FuGE.Common.References.BibliographicReferenceType" abstract="false"/>
    <xsd:element name="userParam" type="FuGE.Common.Ontology.userParamType" abstract="false"/>
    <xsd:element name="cvParam" type="FuGE.Common.Ontology.cvParamType" abstract="false"/>
    <xsd:element name="cv" type="FuGE.Common.Ontology.cvType" abstract="false"/>
    <xsd:element name="AuditCollection" type="FuGE.Collection.AuditCollectionType" abstract="false"/>
    <xsd:element name="Provider" type="FuGE.Collection.ProviderType" abstract="false"/>
    <xsd:element name="PropertyValue" type="FuGE.Common.Ontology.PropertyValue" abstract="false"/>
</xsd:schema>
